@charset "UTF-8";

body {
	background-color:rgb(241, 241, 241);
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
}

li {
    float: left;
}

li a.active {
    color: white;
    background-color: #6083CB;
}

li a {
    display: block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.welcome {
    text-align: center;
    color: black;
    padding: 14px 16px;
    text-decoration: none;
    display: block;
    margin-left: 32%;
    margin-right: 32%;
    text-shadow: 1px 1px 1px black;
}

.logout {
    color: white;
    background-color: #000000;
    border-right: none;
    float: right;
}

.orders {
	border-right: none;
    float: right;
}

.cart {
	float: right;
	width: 5%;
}

.cart-number{
	height: 16px;
    width: 16px;
    background-color: coral;
    border-radius: 50%;
    display: inline-block;
    font-weight: bold;
    color:white;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

td {
	  text-align: left;
  	  padding: 8px;
  	  }

th {
	  text-align: left;
  	  padding: 8px;
  	  text-align: center;
  	  }

tr:nth-child(odd){
	background-color: white;
	}

td:nth-child(odd){
	width:10%
	}

th {
  background-color: #6083CB;
  color: white;
  width: 200px;
}

.keyword{
  display: block;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.search {
  width: 5%;
  background-color: #2492ff;
  color: white;
  padding: 12px 10px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font: bold Verdana, sans-serif ;
}

.recent_text {
	text-align:center;
	font:bold 20px Verdana, sans-serif ;
}

.nav-left {
    position: relative;
    display: inline-block;
    float:left;
    color:#666;
}

.nav-right {
    width: auto;
    overflow: hidden;
    white-space: nowrap;
}

#nav-search {
	display: block;
 	margin-left: auto;
  	margin-right: auto;
  	margin-top: 20px;
}
.form{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  display: inline-block;
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=button]:hover {
  background-color: #ff4040;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 200px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 30%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,s0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
  text-decoration: none;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: #2492ff;
  color: white;
}

.modal-body {
	padding: 2px 16px;
}

.h2 {
	font: bold 20px Verdana, sans-serif;
}

p#errMessage {
    font: 14px Verdana, sans-serif;
}

p#research {
    font-weight: bold;
    font-size: 19px;
    font-family: Verdana, sans-serif;
    color: royalblue;
}

/* The Modal Shopping Cart (background) */
.cart_modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 200px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Shopping Cart Modal Content */
.cart-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 30%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,s0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

.cart-header {
  padding: 2px 16px;
  background-color: #2492ff;
  color: white;
}

.cart-body {
	padding: 2px 16px;
}

.overlay {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0, 0.8);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlaycontent {
	height: 50%;
	width: 50%;
	margin: auto;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
  color: grey;
  text-decoration: none
}

h2#SellerHeader {
	color: white;
    text-align: center;
}